<template>
  <div>

    <div>Add Todo List</div>
    <input type="text" v-model="value" />
    <button @click="addTodo">ADD MORE</button>
      <div>
        <div>My Todo List:</div>
        <ul>
          <li v-for="item, itemIndex in toDo" :key="itemIndex">
            {{ item }}
          </li>
        </ul>
      </div>
 
  </div>
</template>

<script>
  export default {
    data(){
      return {
        toDo: ['Go to dentins', 'Feed the cat'],
       value : undefined
      }
    },
    methods: {
      addTodo() {
        this.toDo.push(this.value)
        this.value = undefined
      }
    }  
  }

</script>
