<template>
  <div>

  <div v-for="(item, itemIndex) in persons" :key="itemIndex">
    <p>
      Name : {{ item.name }}, <span>Age : {{ item.age }} </span>
    </p>
     <!-- data binnding -->
    <button @click="increaseMyAge(itemIndex)">Ultah</button>
  </div>
  
  </div>
</template>

<script>
  export default {
    data(){
      return {
        persons: [{
          name : 'Joko',
          age: 23,
          // isDev: false //ketika di beri true maka muncul 
        },{
          name : 'aryo',
          age: 21
        }]
      }
    },
    methods: {
      increaseMyAge(itemIndex){
        this.persons[itemIndex].age++

        // ini perintah dengan MAP
        //  this.persons.map((x) => {
        //   return x.age++
        // })

        //data binding satu object
        // this.person.name = 'Aryo'
        // this.person.age++
      }
    }
  }

</script>
